---
import { LOCALES } from "@/data/locale";
let currentLocale = "en"; // 默认语言

if (typeof window !== "undefined") {
	currentLocale = window.location.pathname.split("/")[1];
}

const changeLanguage = (locale) => {
	if (typeof window !== "undefined") {
		const pathParts = window.location.pathname.split("/").slice(2).join("/");
		window.location.href = `/${locale}/${pathParts}`;
	}
};
---

<select
	id="language-switcher"
	onChange={(e) => changeLanguage(e.target.value)}
	value={currentLocale}
>
	{
		LOCALES.map((locale) => (
			<option key={locale} value={locale}>
				{locale}
			</option>
		))
	}
</select>
